{% load staticfiles %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome to Callaborate</title>
    <link rel="shortcut icon" href="{% static "img/c.ico" %}" />


  {% load compressed %}
  <!-- Bootstrap Core CSS -->
  <!-- Custom CSS -->
  <!-- Custom Fonts -->  
  {% compressed_css 'calaborate' %}
  {% compressed_css 'fonts' %}
    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

    <!-- Header -->
    <header id="top" class="header-base">
        <div class="text-vertical-center">
	  <h1>
    	    	  <font class="logo">
		    <font color="00B0DA">CAL</font><font color="ffb819">laborate</font>!</h1>
		  </font>
	</h1>
	</div>
    </header>
    <!-- Footer -->
    <!-- <footer>
    <div class="container">
    <div class="row">
    <div class="col-lg-10 col-lg-offset-1 text-center">
    <h4><strong>Calaborate</strong>
    </h4>
    <p>Berkeley Skydeck</p>
    <p>2150 Shattuck Ave<br>Berkeley, CA 94704</p>
    <ul class="list-unstyled">
    <li><i class="fa fa-envelope-o fa-fw"></i>  <a class="text-primary-cal" href="mailto:inquiries@callaborate.com">inquiries@callaborate.com</a>
    </li>
    </ul>
    <br>
    <ul class="list-inline">
    <li>
    <a href="#"><i class="fa fa-facebook fa-fw fa-3x text-primary-cal"></i></a>
    </li>
    <li>
    <a href="#"><i class="fa fa-twitter fa-fw fa-3x text-primary-cal"></i></a>
    </li>
    </ul>
    <hr class="small">
    <p class="text-muted">Copyright &copy; Calaborate 2014</p>
    </div>
    </div>
    </div>
    </footer> -->

    {% compressed_js 'calaborate' %}
    <!-- jQuery Version 1.11.0 -->
    <!-- Bootstrap Core JavaScript -->
    <!-- Landing page JavaScript -->
